@tailwind base;
@tailwind components;
@tailwind utilities;

.fbtxt_container {
  width: 500px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
